<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idoc.swagger.mapper.TDocRespHeadMapper" >
  <resultMap id="BaseResultMap" type="com.idoc.swagger.po.TDocRespHead" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appname" property="appname" jdbcType="VARCHAR" />
    <result column="requestUrl" property="requesturl" jdbcType="VARCHAR" />
    <result column="errorcode" property="errorcode" jdbcType="VARCHAR" />
    <result column="errormsg" property="errormsg" jdbcType="VARCHAR" />
    <result column="success" property="success" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appname, requestUrl, errorcode, errormsg, success
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_doc_resp_head
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_doc_resp_head
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.idoc.swagger.po.TDocRespHead" >
    insert into t_doc_resp_head (id, appname, requestUrl, 
      errorcode, errormsg, success
      )
    values (#{id,jdbcType=INTEGER}, #{appname,jdbcType=VARCHAR}, #{requesturl,jdbcType=VARCHAR}, 
      #{errorcode,jdbcType=VARCHAR}, #{errormsg,jdbcType=VARCHAR}, #{success,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.idoc.swagger.po.TDocRespHead" >
    insert into t_doc_resp_head
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appname != null" >
        appname,
      </if>
      <if test="requesturl != null" >
        requestUrl,
      </if>
      <if test="errorcode != null" >
        errorcode,
      </if>
      <if test="errormsg != null" >
        errormsg,
      </if>
      <if test="success != null" >
        success,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appname != null" >
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="requesturl != null" >
        #{requesturl,jdbcType=VARCHAR},
      </if>
      <if test="errorcode != null" >
        #{errorcode,jdbcType=VARCHAR},
      </if>
      <if test="errormsg != null" >
        #{errormsg,jdbcType=VARCHAR},
      </if>
      <if test="success != null" >
        #{success,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.idoc.swagger.po.TDocRespHead" >
    update t_doc_resp_head
    <set >
      <if test="appname != null" >
        appname = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="requesturl != null" >
        requestUrl = #{requesturl,jdbcType=VARCHAR},
      </if>
      <if test="errorcode != null" >
        errorcode = #{errorcode,jdbcType=VARCHAR},
      </if>
      <if test="errormsg != null" >
        errormsg = #{errormsg,jdbcType=VARCHAR},
      </if>
      <if test="success != null" >
        success = #{success,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idoc.swagger.po.TDocRespHead" >
    update t_doc_resp_head
    set appname = #{appname,jdbcType=VARCHAR},
      requestUrl = #{requesturl,jdbcType=VARCHAR},
      errorcode = #{errorcode,jdbcType=VARCHAR},
      errormsg = #{errormsg,jdbcType=VARCHAR},
      success = #{success,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>