<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swagger.idoc.mapper.TDocMainMapper" >
  <resultMap id="BaseResultMap" type="com.swagger.idoc.po.TDocMain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version_swagger" property="versionSwagger" jdbcType="VARCHAR" />
    <result column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="basePath" property="basepath" jdbcType="VARCHAR" />
    <result column="schemes" property="schemes" jdbcType="VARCHAR" />
    <result column="external_doc" property="externalDoc" jdbcType="INTEGER" />
    <result column="security_define" property="securityDefine" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="publish" property="publish" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, version_swagger, info_id, host, basePath, schemes, external_doc, security_define, 
    create_time, update_time, project_id, publish
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.swagger.idoc.po.TDocMainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_doc_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_doc_main
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_doc_main
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.swagger.idoc.po.TDocMain" >
    insert into t_doc_main (id, version_swagger, info_id, 
      host, basePath, schemes, 
      external_doc, security_define, create_time, 
      update_time, project_id, publish
      )
    values (#{id,jdbcType=INTEGER}, #{versionSwagger,jdbcType=VARCHAR}, #{infoId,jdbcType=INTEGER}, 
      #{host,jdbcType=VARCHAR}, #{basepath,jdbcType=VARCHAR}, #{schemes,jdbcType=VARCHAR}, 
      #{externalDoc,jdbcType=INTEGER}, #{securityDefine,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{projectId,jdbcType=INTEGER}, #{publish,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.swagger.idoc.po.TDocMain" >
    insert into t_doc_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="versionSwagger != null" >
        version_swagger,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="basepath != null" >
        basePath,
      </if>
      <if test="schemes != null" >
        schemes,
      </if>
      <if test="externalDoc != null" >
        external_doc,
      </if>
      <if test="securityDefine != null" >
        security_define,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="publish != null" >
        publish,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="versionSwagger != null" >
        #{versionSwagger,jdbcType=VARCHAR},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="basepath != null" >
        #{basepath,jdbcType=VARCHAR},
      </if>
      <if test="schemes != null" >
        #{schemes,jdbcType=VARCHAR},
      </if>
      <if test="externalDoc != null" >
        #{externalDoc,jdbcType=INTEGER},
      </if>
      <if test="securityDefine != null" >
        #{securityDefine,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="publish != null" >
        #{publish,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.swagger.idoc.po.TDocMainExample" resultType="java.lang.Integer" >
    select count(*) from t_doc_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.swagger.idoc.po.TDocMain" >
    update t_doc_main
    <set >
      <if test="versionSwagger != null" >
        version_swagger = #{versionSwagger,jdbcType=VARCHAR},
      </if>
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="host != null" >
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="basepath != null" >
        basePath = #{basepath,jdbcType=VARCHAR},
      </if>
      <if test="schemes != null" >
        schemes = #{schemes,jdbcType=VARCHAR},
      </if>
      <if test="externalDoc != null" >
        external_doc = #{externalDoc,jdbcType=INTEGER},
      </if>
      <if test="securityDefine != null" >
        security_define = #{securityDefine,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="publish != null" >
        publish = #{publish,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.swagger.idoc.po.TDocMain" >
    update t_doc_main
    set version_swagger = #{versionSwagger,jdbcType=VARCHAR},
      info_id = #{infoId,jdbcType=INTEGER},
      host = #{host,jdbcType=VARCHAR},
      basePath = #{basepath,jdbcType=VARCHAR},
      schemes = #{schemes,jdbcType=VARCHAR},
      external_doc = #{externalDoc,jdbcType=INTEGER},
      security_define = #{securityDefine,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      project_id = #{projectId,jdbcType=INTEGER},
      publish = #{publish,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>